 <!-- About Section -->
<section id="about" class="container">
<h2>О компании</h2>
<p>
    ООО «Солярис» — комплексный поставщик топлива и горюче-смазочных материалов для предприятий. Мы осуществляем поставки дизельного и других видов топлива для потребителей любого уровня «под ключ».
</p>
<p>
    «Солярис» — команда профессионалов с более чем 15-летним опытом работы в сфере топливного снабжения. Мы учли ошибки прошлого и взяли на вооружение лучшие практики коллег, объединив всё это в, пожалуй, лучший клиентский сервис в области топливного снабжения.
</p>
</section>
