<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Replace site title with logo image -->
      <a class="navbar-brand" href="#page-top">
        <img src="/assets/images/logo.png" alt="{{ site.title }}" style="height:40px;">
      </a>
    </div>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>
        <li class="page-scroll"><a href="#page-top">О компании</a></li>
        <li class="page-scroll"><a href="#pricing">Продукция</a></li>
        <li class="page-scroll"><a href="#contact">Контакты</a></li>
        <li class="page-scroll"><a href="#certificates">Сертификаты</a></li>
      </ul>
      
      <!-- Phone link (one element only) -->
      <a class="phone-link navbar-text phone-nav" href="{{ site.phoneLink }}">
        📞 {{ site.phone }}
      </a>
    </div>
  </div>
</nav>
