<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-solaris">
  <!-- <div class="container"> -->
    <!-- Brand and toggle -->
    <div class="navbar-header page-scroll">

      <!-- Toggle button for collapsed menu -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!-- Mobile phone link -->
      <a class="phone-link mobile-phone-link navbar-text visible-xs-inline-block" href="{{ site.phoneLink }}">
        📞 {{ site.phone }}
      </a>


      <!-- Brand/logo -->
      <a class="navbar-brand" href="#page-top">
        <img src="/assets/images/logo.png" alt="{{ site.title }}" style="height:40px;">
        <!-- Optional: site title text for mobile -->
        <span class="site-title-block visible-xs-inline" style="margin-left: 5px;">{{ site.title }}</span>
      </a>
    </div>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="hidden"><a href="#page-top"></a></li>
        <li class="page-scroll"><a href="#page-top">О компании</a></li>
        <li class="page-scroll"><a href="#pricing">Продукция</a></li>
        <li class="page-scroll"><a href="#contact">Контакты</a></li>
        <li class="page-scroll"><a href="#certificates">Сертификаты</a></li>
      </ul>

      <!-- Desktop phone link -->
      <div class="navbar-right">
        <a class="phone-link desktop-phone-link navbar-text" href="{{ site.phoneLink }}">
          📞 {{ site.phone }}
        </a>
      </div>
    </div>
  <!-- </div> -->
</nav>
