<!-- Contact Section -->
<section id="contact">
<div class="container"> 
  <h2 class="contact-heading">Оставьте заявку на расчет</h2>
  <script src="https://forms.yandex.ru/_static/embed.js"></script>

  <!-- Desktop form -->
  <div class="form-wrapper desktop">
      <iframe 
      src="https://forms.yandex.ru/cloud/68c5a3c0068ff00016a6033a?iframe=1" 
      frameborder="0" 
      name="ya-form-68c5a3c0068ff00016a6033a" 
      width="650"
      height="900"
    ></iframe>
  </div>

  <!-- Mobile form -->
  <div class="form-wrapper mobile">
    <iframe 
      src="https://forms.yandex.ru/u/68c5a3c0068ff00016a6033a?iframe=1" 
      frameborder="0" 
      name="ya-form-68c5a3c0068ff00016a6033a-mobile"
      width="320"
      height="900"
    ></iframe>
  </div>
</div>
</section>