#certificates {
  text-align: center;
  width: 100%;
  color: #{{ site.color.primary }};
  background-color: #{{ site.color.secondary }};
}

.certificates-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem 1.5rem;
  max-width: 1200px; 
  margin: 0 auto; 
}

.certificates-row .card {
  flex: 1 1 250; 
  max-width: 300px; 
  box-sizing: border-box;
}
.certificates-row .card h3 {  
  font-size: 22px;
  margin-top: 11px;
  margin-bottom: 5px;
}

.certificates-row img {
  max-width: 100%;
  height: auto;
  display: block;
}

.certificates-row .card {
  opacity: 0.9;
}

.certificates-row .card:hover {
  opacity: 1;
}

.certificates-row .card a.button {
  color: #{{ site.color.primary-grey }};
}

.certificates-row .card a.button:hover {
  color: #{{ site.color.primary }};
}
