footer {
  background-color: #{{ site.color.secondary }};
}
footer .footer-col {
  color: white;
}

footer .footer-above .row #social-col ul > li {
  display: inline-block;
  font-size: 2em;
}
footer .footer-above .row #social-col ul > li a {
  color: white;
}
footer .footer-above .row #social-col ul > li a:hover {
  color: #{{ site.color.blacky1 }};
  text-decoration: none;
}

footer .footer-above .row #social-col ul > li .btn-social-title {
  display: none; 
}

/* Tablet + Mobile: stack items and show titles */
@media screen and (max-width: 992px) {
  footer .footer-above .row #social-col {
    width: 100%;
  }
  footer .footer-above .row #social-col ul > li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
  footer .footer-above .row #social-col ul > li .btn-social-title {
    display: inline-block;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  footer .footer-above .row #social-col ul > li {
    display: block;
  }
}

#policy-col {
  margin-top: 20px;
}

#policy-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#policy-col ul li a {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  text-decoration: none;
}

#policy-col ul li a:hover {
  text-decoration: underline;
  color: #{{ site.color.blacky1 }};
  transition: all 0.3s ease-in-out;
}
